/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (max-width: 1024px) {
  .wrapper .left-wrapper .data .border {
    margin-left: 0.85rem;
  }

  .wrapper .right-wrapper form {
    margin-top: 2rem;
    margin-inline: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .wrapper .right-wrapper form h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
  }
  .wrapper .right-wrapper form label {
    font-size: 0.9rem;
  }
  .wrapper .right-wrapper form .select,
  .wrapper .right-wrapper form .input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 3px;
  }
  .drop-down .ion {
    font-size: 1rem;
  }
  .calender .ion {
    font-size: 1rem;
  }
  .wrapper .right-wrapper form div .p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
  }
  .wrapper .right-wrapper form .radio {
    margin-top: 3rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .wrapper .right-wrapper form input[type="radio"] {
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
  }
  .wrapper .right-wrapper form hr {
    margin: 0.9em 0;
  }
  .wrapper .right-wrapper form .add {
    padding: 0 1.5rem;
    border-radius: 3px;
  }
  .wrapper .right-wrapper form .add .left img {
    align-self: center;
    width: 50px;
    height: 50px;
  }
  .wrapper .right-wrapper form .add .info h5 {
    font-size: 0.9rem;
  }
  .wrapper .right-wrapper form .add .info p {
    font-size: 0.8rem;
  }
  .wrapper .right-wrapper form .add .ion {
    font-size: 2rem;
  }
  .wrapper .right-wrapper form .btn {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper .right-wrapper {
    border-top: 1px solid #bbdef7;
  }

  .top {
    height: 3px;
  }

  .wrapper {
    flex-direction: column;
  }
  .wrapper .left-wrapper {
    flex-basis: 50%;
    padding: 2rem;
  }
  .wrapper .left-wrapper .logo {
    width: 150px;
    margin-bottom: 3rem;
  }
  .wrapper .left-wrapper .head h4 {
    font-size: 1rem;
  }

  .wrapper .left-wrapper .head .ion {
    font-size: 1.3rem;
  }
  .wrapper .left-wrapper .data {
    margin-top: 2rem;
  }
  .wrapper .left-wrapper .data .circle1 {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.5rem;
  }
  .wrapper .left-wrapper .data .circle h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle1.no-tick {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle p {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  .wrapper .left-wrapper .main {
    display: none;
  }
  .wrapper .right-wrapper {
    flex-basis: 50%;
    border: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .top {
    height: 3px;
  }

  .wrapper {
    flex-direction: column;
  }
  .wrapper .left-wrapper {
    flex-basis: 50%;
    padding: 2rem;
  }
  .wrapper .left-wrapper .logo {
    width: 150px;
    margin-bottom: 3rem;
  }
  .wrapper .left-wrapper .head h4 {
    font-size: 1rem;
  }

  .wrapper .left-wrapper .head .ion {
    font-size: 1.3rem;
  }
  .wrapper .left-wrapper .data {
    margin-top: 2rem;
  }
  .wrapper .left-wrapper .data .circle1 {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.5rem;
  }
  .wrapper .left-wrapper .data .circle h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle1.no-tick {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle p {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  .wrapper .left-wrapper .main {
    display: none;
  }
  .wrapper .right-wrapper {
    border-top: 1px solid #bbdef7;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .top {
    height: 4px;
  }

  .wrapper .left-wrapper {
    padding: 2rem;
  }
  .wrapper .left-wrapper .logo {
    width: 10.5rem;
    margin-bottom: 4rem;
  }
  .wrapper .left-wrapper .head h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .head .ion {
    font-size: 1.3rem;
  }
  .wrapper .left-wrapper .data .circle1 {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.5rem;
  }
  .wrapper .left-wrapper .data .circle h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle1.no-tick {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle p {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  .wrapper .left-wrapper .main img {
    margin-top: 9rem;
    width: 15rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .wrapper .left-wrapper {
    padding: 2rem;
  }
  .wrapper .left-wrapper .logo {
    width: 10.5rem;
    margin-bottom: 4rem;
  }
  .wrapper .left-wrapper .head h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .head .ion {
    font-size: 1.3rem;
  }
  .wrapper .left-wrapper .data .circle1 {
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.5rem;
  }
  .wrapper .left-wrapper .data .circle h4 {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle1.no-tick {
    font-size: 1rem;
  }
  .wrapper .left-wrapper .data .circle p {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
  .wrapper .left-wrapper .main img {
    margin-top: 9rem;
  }
  .wrapper .right-wrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-left: 5rem;
    width: 80%;
  }
  .wrapper .right-wrapper form h1 {
    font-size: 2.6rem;
    font-weight: 800;
  }
}
@media screen and (min-width: 1201px) {
  .wrapper .left-wrapper .logo {
    width: 12.5rem;
    margin-bottom: 5rem;
  }
  .wrapper .left-wrapper .main img {
    margin-top: 10rem;
    width: 20rem;
    border-bottom: 1px solid #c6c9cf;
  }
  .wrapper .right-wrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-left: 10rem;
    width: 60%;
  }
  .wrapper .right-wrapper form h1 {
    width: 100%;
    font-size: 2.8rem;
    font-weight: 800;
  }
}
