@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  color: #212529;
  max-width: 100%;
  overflow-x: hidden;
}

.top {
  position: fixed;
  background-color: #0084e3;
  top: 0;
  right: 0;
  width: 0;
  height: 5px;
  z-index: 100;
}

.wrapper {
  display: flex;
}

.wrapper .left-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
  padding: 4rem;
}
.wrapper .left-wrapper img {
  width: 20.5rem;
  margin-bottom: 5rem;
}

.wrapper .left-wrapper .head {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.wrapper .left-wrapper .head h4 {
  font-size: 1.2rem;
}

.wrapper .left-wrapper .head .ion {
  color: #2c99e8;
  font-size: 1.5rem;
}

.wrapper .left-wrapper .data {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-inline-start: 2rem;
}

.wrapper .left-wrapper .data .circle {
  display: flex;
}

.wrapper .left-wrapper .data .circle.first {
  align-items: center;
}

.wrapper .left-wrapper .data .circle.second {
  align-items: flex-start;
}

.wrapper .left-wrapper .data .circle1 {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
}
.wrapper .left-wrapper .data .circle1.tick {
  background-color: #73c723;
  color: white;
  border: none;
}
.wrapper .left-wrapper .data .circle .ion {
  font-size: 1.3rem;
}
.wrapper .left-wrapper .data .circle h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 800;
}
.wrapper .left-wrapper .data .circle h4.personal {
  color: #b6b9c1;
}

.wrapper .left-wrapper .data .circle1.no-tick {
  color: #0184e3;
  border: 1px solid #0184e3;
  font-size: 1.2rem;
  font-weight: 800;
}

.wrapper .left-wrapper .data .circle p {
  width: 80%;
  font-size: 1rem;
  margin-top: 0.8rem;
  color: #b6b9c1;
}

.wrapper .left-wrapper .data .border {
  border-left: 1px #c6c9cf solid;
  margin-left: 1rem;
  height: 3rem;
}

.wrapper .left-wrapper .main {
  align-self: center;
}
.wrapper .left-wrapper .main img {
  margin-top: 10rem;
  border-bottom: 1px solid #c6c9cf;
}

.wrapper .right-wrapper {
  flex-basis: calc(100% - 33.3%);
  background-color: rgba(247, 251, 254, 255);
  border-left: 1px solid #bbdef7;
}

.wrapper .right-wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  margin-left: 10rem;
  width: 50%;
}
.wrapper .right-wrapper form h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.wrapper .right-wrapper form .form {
  display: flex;
  flex-direction: column;
}

.wrapper .right-wrapper form label {
  font-size: 1.1rem;
  font-weight: 700;
  color: #59595a;
}
.wrapper .right-wrapper form .select,
.wrapper .right-wrapper form .input {
  color: #59595a;
  width: 100%;
  padding: 1rem;
  margin-top: 0.7rem;
  border: 1px solid #d8e0e6;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.drop-down {
  position: relative;
}
.drop-down .ion {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #2a98e8;
  cursor: pointer;
}

.calender {
  position: relative;
}
.calender .ion {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #b6b9c1;
  cursor: pointer;
}

.wrapper .right-wrapper form input[type="date"]::-webkit-inner-spin-button,
.wrapper
  .right-wrapper
  form
  input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.wrapper .right-wrapper form select:focus,
.wrapper .right-wrapper form input:focus {
  outline: none;
}
.wrapper .right-wrapper form div {
  margin-bottom: 1rem;
}

.wrapper .right-wrapper form div .p {
  align-self: flex-end;
  font-size: 1.1rem;
  font-weight: 700;
  color: #59595a;
  margin-top: 1rem;
}

.wrapper .right-wrapper form div .p span {
  color: #0988e4;
}

.wrapper .right-wrapper form .radio {
  margin-top: 4rem;
  font-size: 1.102rem;
  margin-bottom: 2rem;
}
.wrapper .right-wrapper form .radio p {
  color: #59595a;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.wrapper .right-wrapper form input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.8rem;
}

.wrapper .right-wrapper form hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wrapper .right-wrapper form .add {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #ebf5fd;
  border-radius: 5px;
}
.wrapper .right-wrapper form .add .left {
  display: flex;
  margin-top: 1rem;
}
.wrapper .right-wrapper form .add img {
  width: 70px;
}

.wrapper .right-wrapper form .add .info {
  margin-top: 1rem;
}

.wrapper .right-wrapper form .add .info h5 {
  font-size: 1.1rem;
  color: #2194e6;
}
.wrapper .right-wrapper form .add .info p {
  color: #b6b9c1;
}

.wrapper .right-wrapper form .add .ion {
  font-size: 2.5rem;
  color: #2696e7;
}

.wrapper .right-wrapper form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 8rem;
  border: none;
  color: white;
  font-family: inherit;
  background-color: #0084e3;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
